name: pr
on:
  push:
    branches:
      - main
  pull_request:
#    branches:
#      - main

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "Another PR"
          echo "Hello '${{ github.event.inputs.name }}'"
          echo "- in '${{ github.event.inputs.home }}'"
          echo "- github.event_path '${{ github.event_path }}'"
          ls -hal ${{ github.event_path }} .
          echo "pwd"
          pwd
          echo "secret"
          echo "'${{ secrets.REPO_SECRET }}'"
          echo "${{ secrets.REPO_SECRET }}" | wc
          echo "event"
          cat ${{ github.event_path }}
